@keyframes sun-spin {
    from {
      transform: rotate(0deg) scale(1);
    }
    to {
      transform: rotate(120deg) scale(1.1);
    }
  }

  @keyframes clouds-lower {
    from {
      transform: translateX(0px);
    }
    to {
      transform: translateX(30px);
    }
  }