* {
    margin:0;
    box-sizing: border-box;
}

:root {
    --border-style: 2px solid rgba(255,255,255,.4);
    --main-font: 'Nunito', sans-serif;
}

body {
    padding: 20px;
    min-height: 100vh;
}

body.morning {
    background: #4954B6;
    background: -webkit-linear-gradient(top left, #4954B6, #B5CD3C);
    background: -moz-linear-gradient(top left, #4954B6, #B5CD3C);
    background: linear-gradient(to bottom right, #4954B6, #B5CD3C);
}

body.afternoon {
    background: #082BAE;
    background: -webkit-linear-gradient(top left, #082BAE, #3AA1D6);
    background: -moz-linear-gradient(top left, #082BAE, #3AA1D6);
    background: linear-gradient(to bottom right, #082BAE, #3AA1D6);
}

body.evening {
    background: #5843B8;
    background: -webkit-linear-gradient(top left, #5843B8, #0A0917);
    background: -moz-linear-gradient(top left, #5843B8, #0A0917);
    background: linear-gradient(to bottom right, #5843B8, #0A0917);
}

form {
    display: inline;
    font-family: var(--main-font);
    border: var(--border-style);
    color:white;
    border-radius: 42px;
    height: auto;
    padding: 16px 19px;
}
input {
    border: 0px;
    border-radius: 35px;
    font-family: var(--main-font);
    font-size: 24px;
    font-weight: 600;
    padding: 10px;
    background-color: transparent;
    color: white;
}

button {
    background-color: transparent;
    border: 0px;
    color: white;
    margin: auto auto;
}

.search-container {
    left: 0;
    right: 0;
    position: absolute;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .25s ease-in;
}

.search-container.searched {
    clear: left;
    clear: right;   
    left: -970px;
    top: 0px;
    scale: .7;
}

div.error-message {
    margin-top: 20px;
    color: red;
    font-size: 25px;
    text-transform: capitalize;
    font-family: var(--main-font);
    font-weight: 700;
}

div.error-message.hidden {
    visibility: hidden;
}

h1.greeting {
    font-family: var(--main-font);
    font-size: 72px;
    margin-top: 20px;
    text-align: center;
    color: rgb(207, 207, 207);
    line-height: 1em;
}

.location {
    font-family: var(--main-font);
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.main-panel {
    margin: auto;
    max-width: 430px;
    color:white;
    border-radius: 35px;
    text-align: center;
    border: var(--border-style);
}

.main-panel.hidden {
    visibility: hidden;
}

.main-display {
    border-bottom: var(--border-style);
    padding-top: 25px;
    padding-bottom: 30px;
    font-family: var(--main-font);
}

.main-weather {
    margin-top: 10px;
}

.main-weather-text {
    margin-top: 15px;
    font-size: 50px;
    font-weight: 800;
    text-transform: capitalize;
}

.current-day-text {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;;
    color: rgb(195, 195, 195);
}

.current-temp-text {
    font-size: 92px;
    font-weight: 800;
    margin-top: 20px;
}

.detail-row {
    border-bottom: var(--border-style);
    display: flex;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 18px;
}

.detail-row .detail{
    display: flex;
    width:50%;
    padding: 15px;
    text-align: right;
    justify-content: space-around;
}

.detail-row .detail.left {
    border-right: var(--border-style);
}

.detail-icon {
    margin: auto 0px;
}

.top-title {
    color: rgb(195, 195, 195);
    text-transform: uppercase;
    margin-bottom: 5px;
}

.detail-row:last-child {
    border:0px solid white;
}

