* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --border-style: 2px solid rgba(255,255,255,.4);
    --main-font: 'Nunito', sans-serif;
}

body {
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

body.morning {
    background: #4954B6;
    background: -webkit-linear-gradient(top left, #4954B6, #B5CD3C);
    background: -moz-linear-gradient(top left, #4954B6, #B5CD3C);
    background: linear-gradient(to bottom right, #4954B6, #B5CD3C);
}

body.afternoon {
    background: #082BAE;
    background: -webkit-linear-gradient(top left, #082BAE, #3AA1D6);
    background: -moz-linear-gradient(top left, #082BAE, #3AA1D6);
    background: linear-gradient(to bottom right, #082BAE, #3AA1D6);
}

body.evening {
    background: #5843B8;
    background: -webkit-linear-gradient(top left, #5843B8, #0A0917);
    background: -moz-linear-gradient(top left, #5843B8, #0A0917);
    background: linear-gradient(to bottom right, #5843B8, #0A0917);
}


.greeting-container {
    margin: auto;
    text-align: center;
}

form {
    display: flex;
    font-family: var(--main-font);
    border: var(--border-style);
    color:white;
    border-radius: 42px;
    padding: 16px 19px;
}

input {
    border: 0px;
    border-radius: 35px;
    font-family: var(--main-font);
    font-size: 24px;
    font-weight: 600;
    padding: 10px;
    background-color: transparent;
    color: white;
}

button {
    background-color: transparent;
    border: 0px;
    color: white;
}

button.select {
    border: var(--border-style);
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .25s ease-in;
}

div.error-message {
    margin: 20px 0px;
    color: rgb(207, 207, 207);
    font-size: 25px;
    text-transform: capitalize;
    font-family: var(--main-font);
    font-weight: 700;
}

div.error-message.hidden {
    visibility: hidden;
}

h1.greeting {
    font-family: var(--main-font);
    font-size: 72px;
    margin-top: 20px;
    color: white;
    line-height: 1em;
}

.location {
    font-family: var(--main-font);
    font-size: 35px;
    margin-bottom: 20px;
    color: rgb(207, 207, 207);
}

.main-panel {
    margin: auto;
    color:white;
    border-radius: 35px;
    text-align: center;
    border: var(--border-style);
    overflow: hidden;
}

.main-panel.hidden {
    visibility: hidden;
}

.main-display {
    border-bottom: var(--border-style);
    padding: 10px 30px;
    font-family: var(--main-font);
}

.main-weather {
    margin-top: 10px;
}

.main-weather-text {
    margin-top: 15px;
    font-size: 50px;
    font-weight: 800;
    text-transform: capitalize;
}

.current-day-text {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(195, 195, 195);
}

.current-temp-text {
    font-size: 92px;
    font-weight: 800;
    margin-top: 20px;
}

.hourly-forecast-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.hour {
    background: rgba(195, 195, 195,.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    font-size: 18px;
    min-width: 20px;
    color: rgb(195, 195, 195);
    scale: .87;
    transition: all ease-in-out 200ms;
}

.hour:hover {
    scale: 1;
    color: white;
}

.hour.current {
    color: white;
    scale: 1.0;
}

.daily-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.daily-row {
    font-size: 18px;
    font-family: var(--main-font);
    border-bottom: var(--border-style);
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.daily-row .day {
    /* min-width: 50px; */
    display: flex;
    justify-content: flex-start;
}

.daily-row .temp {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.detail-row {
    border-bottom: var(--border-style);
    display: flex;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 18px;
}

.detail-row .detail{
    display: flex;
    padding: 15px;
    text-align: right;
    justify-content: space-around;
    width:50%
}

.detail-row .detail.left {
    border-right: var(--border-style);
}

.detail-icon {
    margin: auto 0px;
}

.top-title {
    color: rgb(195, 195, 195);
    text-transform: uppercase;
    margin-bottom: 5px;
}

.detail-row:last-child {
    border: 0px solid white;
}


.sliding-panels {
    width: 200%;
    display: flex;
    transition: 500ms;
    margin-left : 0%;
}

.sliding-panels.detail {
    margin-left : 0%;
}

.sliding-panels.forecast {
    margin-left: -100%;
}

.detail-container {
    width: 50%;
}

button.select {
    border-radius: 2em;
    padding: 10px;
    border: var(--border-style);
    font-size: 18px;
    font-weight: 600;
}

button.select:hover {
    background-color: rgba(255,255,255,.4);
}