@media only screen 
and (orientation: portrait) {
    body {
        padding: 0px;
    }

    input {
        font-size: 20px;
    }

    h1.greeting {
        font-size: 3rem;
    }

    .sliding-panels {
        width: 300%;
    }
    
    .sliding-panels.forecast {
        margin-left: 0%;
    }
    
    .sliding-panels.detail {
        margin-left : -100%;
    }
    
    .sliding-panels.graph {
        margin-left: -200%;
    }
    .detail-container {
        width: 33.33%;
    }
    
    .daily-container {
        width: 33.33%;
    }
    
    .chart-mobile-container {
        display: inline;
        width: 33.33%;
    }

    .graph-btn {
        display: inline;
    }

    .chart-desktop-container {
        display: none;
    }

    .hour {
        padding: 5px;
    }

    .daily-row {
        padding: 5px;
    }

    .daily-row .day {
        font-size: 23px;
    }

    .daily-row .temp {
        font-size: 26px;
    }
}